@charset "UTF-8";

header {
    height: 6em;
    border: 1px solid black;
}

h1 {
    margin-left: 1em;
}

table, th, td {
    border: 1px solid black;
}

th {
    width: 4em;
    background: #999;
}

ul li {
    margin-left: 0.2em;
    padding: 0.2em 1em;;
    background: gray;
    border: 1px solid black;
    border-radius: 0.2em;
    list-style: none;
    float: left;
}

a {
    text-decoration: none;
    color: white;
}

label {
    margin-right: 4em;
}

.overview {
    clear: both;
    font-size: 1.5em;
}

.workaround {
    color: blue;
}

.container {

}

.projects {
    width: 49%;
    float:left;
}

.tasks {
    width: 49%;
    float: right;
}
