@charset "UTF-8";

body {
    background-color: #fefefe;
}

h2 {
    width: 45.3em;
}

nav {
    background-color: #21252b;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

ul {
    padding: 0px;
    list-style: none;
}

header {
    margin-top: -1.3em;
    height: 50px;
    line-height: 50px;
    background-color: rgba(29, 78, 137, 1);
    color: #fefefe;
}

fieldset {
    border: 1px solid rgba(128,128,128,0.5);
    border-radius: 0.2em;
}

table {
    width: 68em;
}

th {
    border: 1px solid black;
    background-color: black;
    color: #fefefe;
}

td {
    padding: 4px;
}

textarea {
    width: 33em;
    height: 80px;
}

.container {
    width: 60em;
}

.container div {
    margin-top: 1em;
}

.project-title {
    margin-left: 0.5em;
}

.navigation {
    display: flex;
    flex-direction: column;
}

.navigation li {
    margin-left: 1em;
}
.navigation li a {
    color: #fefefe;
}

.button-row {
    margin-top: 1em;
}

.button {
    padding: 0.4em;
    background-color: rgba(29, 78, 137, 1);
    color: #fefefe;
    border: 1px solid rgba(29, 78, 137, 1);
    border-radius: 0.2em;
    text-decoration: none;
}

.button:hover {
    background-color: rgb(9, 58, 107);
}

.button-light {
    color: black;
    text-decoration: none;
}

.element-pos-right {
    float: right;
}

.contact,
.contactpartner {
    width: 11em;
}

.project-active,
.task-active {
    background-color: #cccccc;
    text-align: center;
}

.project-inprocessing {
    background-color: #74ff95;
    text-align: center;
}
