@charset "UTF-8";

body {
    background-color: #fefefe;
}

div {
    margin: 0.2em 0;
}

h1 {
    margin-left: 0.4em;
}

h2 {
    width: 45.3em;
}

nav {
    background-color: #21252b;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

ul {
    padding: 0px;
    list-style: none;
}

header {
    margin-top: -1.4em;
    height: 50px;
    line-height: 50px;
    background-color: rgba(29, 78, 137, 1);
    color: #fefefe;
}

select {
    height: 2rem;
}

label {
    width: 6em;
    display: inline-block;
}

input[type="text"] {
    width: 33em;
    height: 2rem;
}

input[type="datetime-local"] {
    width: 12.39em;
    height: 2rem;
}

fieldset {
    border: 1px solid rgba(128,128,128,0.5);
    border-radius: 0.2em;
}

table {
    width: 68em;
}

th {
    border: 1px solid black;
    background-color: black;
    color: #fefefe;
}

td {
    padding: 4px;
}

tr:hover {
    background-color: #ccc;
}

tr:nth-child(even) {
  background-color: #e0e0e0;
}


textarea {
    width: 32.85em;
    height: 160px;
}

.pp-nav {
    display: flex;
}

.pp-nav li {
    margin-left: 1em;
}
.pp-nav li a {
    color: #fefefe;
}

.container {
    width: 60em;
}

.container div {
    margin-top: 1em;
}

.project-title {
    margin-left: 0.5em;
}

.button-row {
    margin-top: 1em;
}

.button {
    padding: 0.4em;
    background-color: rgba(29, 78, 137, 1);
    color: #fefefe;
    border: 1px solid rgba(29, 78, 137, 1);
    border-radius: 0.2em;
    text-decoration: none;
}

.button:hover {
    background-color: rgb(9, 58, 107);
}

.button-light {
    color: black;
    text-decoration: none;
}

.element-pos-right {
    float: right;
}

.contact,
.contactpartner {
    width: 11em;
}

.project-active,
.task-active {
    background-color: #cccccc;
    text-align: center;
}

.project-inprocessing,
.task-inprocessing {
    background-color: #74ff95;
    text-align: center;
}

.task-suspend {
    background-color: #7a7aee;
    text-align: center;
}

.task-done {
    background-color: #ed9ee3;
    text-align: center;
}

.not-important {
    background-color: #cccccc;
    text-align: center;
}

.in-planning {
    background-color: #cccc33;
    text-align: center;
}

.very-important {
    background-color: #dd9999;
}
